name: Test, lint, build

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - run: yarn install

      - run: yarn lint

      - run: yarn check-dts

      - run: yarn build

      - run: yarn test

      - name: test in commonJS
        run: node test/require-in-commonjs.cjs

      - name: Run automated release process with semantic-release
        if: github.ref_name == 'main'
        uses: cycjimmy/semantic-release-action@v4
        with:
          extra_plugins: |
            @semantic-release/changelog
            @semantic-release/git
            @semantic-release/exec
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
